@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2C3A47;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2em;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-app {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.choices {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.choice {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
}

.choices button {
  padding: 1em .5em;
  font-size: 1.2rem;
  border: 2px solid white;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  height: 100%;
  width: 80%;
}

.timer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.middle {
  width: 100%;
  height: 40px;
  background-color: '#68E32B';
  transition: all 100ms ease;
}

.upper {
  width: 100%;
  height: 5px;
  background-color: white;
}

.lower {
  width: 100%;
  height: 5px;
  background-color: white;
}

.result {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1;
  width: 100%;
}

.resultQ {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.resultQ > * {
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 30px;
}

.score {
  text-align: center;
}

.start {
  position: relative;
  font-size: 2rem;
  font-family: 'Roboto Mono', sans-serif;
  background-color: transparent;
  padding: 1em 1em;
  border: 5px solid white;
  color: white;
  cursor: pointer;
}

.start:hover {
  background-color: white;
  color: #2C3A47;
}
